.movies-container {
    display: flex;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
}

.top-nav {
    position: relative;
    display: flex;
    justify-content: center;
}

a {
    color: black;
}

/* .buttons {
    height: 50px;
    position: absolute;
    bottom: 0;
} */
#home {
    padding: 5px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    left: 30%;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px gray;
    background: linear-gradient(to bottom right, var(--primary-light-color), white);
    bottom: 0;
}

#reset {
    padding: 5px;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
    border-radius: 5px;
    background: linear-gradient(to bottom right, var(--primary-light-color), white);

    position: absolute;
    bottom: 0;
    right: 30%;
    margin-bottom: 10px;
    height: 50px;

}