.dark {
    background-color: #131313;
}

.light {
    background-color: white;
}

#dark-mode-toggle {
    border: 0;
    display: flex;
    position: absolute;
    right: 10%;
    background-color: var(--primary-light-color);
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 3px 2px gray;

}

#dark-mode-toggle svg {
    font-size: 2rem;
    color: black;
}

.suggestions-container {

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#site-info {
    margin-top: 50px;
    text-align: center;
}

#movie-icon {
    color: var(--primary-light-color);
    font-size: 10rem;
}

#site-name {
    font-size: 2.5rem;
}

#movie-icon svg {
    color: red;
}

#choose-text {
    color: #666;
    font-size: 1.4rem;
    font-weight: lighter;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}