.search {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-inputs {
    width: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.search-results {
    list-style-type: none;
    position: absolute;
    top: 100%;
    width: inherit;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, .35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

#search-bar:focus {
    border: solid 3px #f3ad70;
    box-shadow: 0 0 0 1px #f3ad70;
}

#search-bar {
    top: 100%;
    border: solid 3px gray;
    border-radius: 5px;
    background-color: white;
    transition-duration: .35s;
    transition-property: border, box-shadow;
    border-radius: 2px;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 600px;
}

.search-icon {
    position: absolute;
    justify-content: center;
    right: 0;
    opacity: .5;
    width: 50px;
    background: none;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}
image.png
.search-icon svg {

    font-size: 35px;
}



/* .search-results::-webkit-scrollbar {
    display: none;
} */

.search-results .data-item {

    width: 100%;
    padding: 3px;
    height: 50px;
    border-bottom: solid 1px gray;
    display: flex;
    color: black;
}

.search-results p {
    margin-left: 10px;
}

#search_results {
    list-style-type: none;
}

a {

    text-decoration: none;
}

a:hover {
    background-color: tan;
}

#clearBtn {
    cursor: pointer;
}