.search {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-inputs {
    width: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.search-results {
    list-style-type: none;
    position: absolute;
    top: 100%;
    width: inherit;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, .35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    z-index: 500;
}

#search-bar:focus {
    border: solid 3px #98A8F8;
    box-shadow: 0 5px 8px rgb(0 0 0 / 10%), 0 -5px 8px rgb(0 0 0 / 10%), 5px 0 8px rgb(0 0 0 / 10%), -5px 0 8px rgb(0 0 0 / 10%);
}

#search-bar {
    top: 100%;
    border: solid 3px gray;
    border-radius: 10px;
    background-color: white;
    transition-duration: .35s;
    transition-property: border, box-shadow;
    font-size: 18px;
    padding: 15px;
    height: 30px;
    width: 600px;
}

.search-icon {
    position: absolute;
    justify-content: center;
    right: 0;
    width: 50px;
    background: none;
    display: grid;
    place-items: center;
}

input:focus {
    outline: none;
}

.search-icon svg {

    font-size: 30px;
    transition-duration: .35s;
    transition-property: opacity;
    opacity: .5;
}

#search-bar:focus+.search-icon svg {
    opacity: .8;
}

/* .search-results::-webkit-scrollbar {
    display: none;
} */

.search-results .data-item {

    width: 100%;
    padding: 4px;
    padding-left: 8px;
    height: 50px;
    border-bottom: solid 1px gray;
    display: flex;
    color: black;
}

.search-results p {
    margin-left: 10px;
}

#search_results {
    list-style-type: none;
}

a {

    text-decoration: none;
}

.data-item:hover {
    background-color: grey;
}

#clearBtn {
    cursor: pointer;
}