@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --main-bg-color-light: #FAF7F0;
    --primary-light-color: #98A8F8;
    --secondary-light-color: #CDFCF6;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
body{
    background-color: var(--main-bg-color-light);
}